<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="page_content" id="page_content">
	<h2 class="ui header">Zobrazit</h2>
	<div>
		<span th:text="${model.name}"></span>
	</div>
<!-- 	<h2 class="ui header">statistics</h2> -->
<!-- 	<table class="ui basic table"> -->
<!-- 		<thead> -->
<!-- 			<tr> -->
<!-- 				<th>Název</th> -->
<!-- 				<th>value</th> -->
<!-- 			</tr> -->
<!-- 		</thead> -->
<!-- 		<tbody> -->
<!-- 			<tr th:each="stat : ${model.statistics}"> -->
<!-- 				<td th:text="${stat.statistic.name}"></td> -->
<!-- 				<td th:text="${stat.value > 0 ? '+'+stat.value : stat.value}"></td> -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	</table> -->
	
	<a class="ui button" th:href="@{/character/update/{id}(id=${model.id})}">Editovat</a>
</th:block>
</body>
</html>