<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<script src="/pan-jeskyne/js/dropdown.component.js"></script>
<script src="/pan-jeskyne/js/race.kind.selector.component.js"></script>
<script src="/pan-jeskyne/js/character.form.js"></script>
</head>
<body>
	<div layout:fragment="page_content" id="page_content">
		<div id="character-form-app">
			<h2 class="ui header">Založit postavu</h2>
			<form class="ui form" th:action="${id == null} ? @{'/character/save/'} : @{/character/save/{id}(id=${id})}"
				th:object="${form}" method="POST">
				<div class="field">
					<label>Jméno</label> <input th:field="*{name}" />
				</div>
				<h3 class="ui dividing header">Rasa</h3>
				<race-kind-selector :races="races" v-model="kind" th:init-race="${raceCodename}" th:init-kind="${kindCodename}" kind-label="Poddruh" race-label="Rasa" 
					kind-placeholder="Vyber poddruh" race-placeholder="Vyber rasu" th:kinds-url="@{'/raceKind/getKindsForRace'}" 
					race-field-name="race" kind-field-name="kind">
					<template slot="races">
						<th:block th:each="race : ${races}">
							<div class="item" th:data-value="${race.id}" th:text="${race.name}">
					    	</div>
 						</th:block>
					</template>
				</race-kind-selector>
				<h3 class="ui dividing header">Statistiky</h3>
				<th:block th:each="stat,iter : *{statistics}">
					<div class="one wide field">
						<label th:text="${stat.name}"></label> <input
							th:name="|statistics[${iter.index}].value|"
							th:value="${stat.value > 0 ? '+'+stat.value : stat.value}" />
						<input type="hidden" th:name="|statistics[${iter.index}].id|" th:value="${stat.id}" />
					</div>
				</th:block>
				<div th:if="${id == null}">
					<input class="ui submit button" type="submit" value="Založit" />
				</div>
				<div th:unless="${id == null}">
					<input class="ui submit button" type="submit" value="Uložit změny" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>