<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="page_content" id="page_content">
	<h2 class="ui header">Přehled postav</h2>
	<table class="ui table">
		<thead>
			<tr>
				<th>Jméno</th>
				<th>Akce</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${result.items}">
				<td><a th:href="@{/character/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
				<td class="collapsing">
					<div class="ui compact menu">
						<div class="ui dropdown icon item">
							<i class="bars icon"></i>&nbsp; 
							Akce
							<i class="dropdown icon"></i>
							<div class="menu">
								<a class="item" th:href="@{/character/delete/{id}(id=${item.id},returnURL=${#httpServletRequest.requestURL})}"><i class="remove icon"></i>Smazat</a>
								<a class="item" th:href="@{/character/update/{id}(id=${item.id})}"><i class="edit icon"></i>Editovat</a>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</th:block>
</body>
</html>